body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
    background-image: url(user/aset/tasty-pizza-near-ingredients.jpg);
    background-size: cover;
}

.container {
    width: 30%;
    margin: 100px auto;
    padding: 70px;
    background-color: rgba(0, 0, 0, 0); 
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(255, 255, 255, 0);
    color: #f4f4f4;
}

.title {
    text-align: center;
    margin-bottom: 10px;
}

.form {
    margin-top: 0;
    text-align: center;
}

input[type="email"],
input[type="text"],
input[type="password"],
button {
    display: block;
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
}

.button {
    background-color: #ff9900;
    color: #ffffff;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    cursor: pointer;
}

.button:hover {
    background-color: #ff9900d6;
}

.forgot {
    text-align: center;
    margin-top: 20px;
}

.forgot a {
    margin-right: 10px;
    color: #ff9900;
    text-decoration: none;
}

.forgot a:hover {
    text-decoration: underline;
}
